{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container-sm text-center">
        <img class="img-fluid event_logo"
             src="{% static 'img/logo_scyfest.png' %}"
             alt="Logo Evento">
        <div class="card mb-3"
             style="margin-left:auto;
                    margin-right:auto;
                    margin-top:1em;
                    max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <div class="overlay has-bg-img rounded h-10rem my-2">
                        <img src="{% static 'img/perfil_defecto.png' %}"
                             id="profile-img"
                             class="bg-img img-fluid rounded-start "
                             alt="...">
                        <div class="overlay-content align-items-end text-white">
                            <a id="edit-icon-container" href="{% url 'test_view' %}">
                                <img id="edit-icon" src="{% static 'img/edit-solid.svg' %}">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" id="nameLabel"><span id="nameLabelText">Nombre</span> <img id="editNameIcon" src="{% static 'img/edit-solid.svg' %}"></h5>
                        <h5 class="card-title">
                        <input type="text" class="form-control" id="nameInput"/>
                        </h5>
                        <p class="card-text">
                            Actualmente tienes 10 puntos
                        </p>
                        <h5 class="text-info">
                            10 puntos <i class="fa-solid fa-pen-to-square"></i>
                        </h5>
                        <p class="card-text">
                            <small class="text-muted">Ver histórico</small>
                        </p>
                        <a href="#" class="btn btn-primary">Ayuda</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 text-center"
             style="margin-left:auto;
                    margin-right:auto;
                    margin-top:1em;
                    max-width: 540px;">
            <div class="card-header">Votaciones</div>
            <div class="card-body">
                <h5 class="card-title">Actualmente no hay votaciones abiertas</h5>
                <p class="card-text">
                    Las votaciones se abrirán cuando acaben todas las bandas de tocar.
                </p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Vota a tu grupo favorito!</h5>
                <input type="radio"
                       class="btn-check"
                       name="options-outlined"
                       id="vote-option1"
                       autocomplete="off">
                <label class="btn btn-outline-primary" for="vote-option1">
                    <img src="{% static 'img/perfil_defecto.png' %}"
                         style="height: 4em;"
                         class="img-fluid rounded-start"
                         alt="...">
                    Grupo 1
                </label>
                <input type="radio"
                       class="btn-check"
                       name="options-outlined"
                       id="vote-option2"
                       autocomplete="off">
                <label class="btn btn-outline-primary" for="vote-option2">
                    <img src="{% static 'img/perfil_defecto.png' %}"
                         style="height: 4em;"
                         class="img-fluid rounded-start"
                         alt="...">
                    Grupo 2
                </label>
                <input type="radio"
                       class="btn-check"
                       name="options-outlined"
                       id="vote-option3"
                       autocomplete="off">
                <label class="btn btn-outline-primary" for="vote-option3">
                    <img src="{% static 'img/perfil_defecto.png' %}"
                         style="height: 4em;"
                         class="img-fluid rounded-start"
                         alt="...">
                    Grupo 3
                </label>
                <p>
                </p>
                <a href="#" class="btn btn-primary">Vota!</a>
            </div>
        </div>
        <footer class=" align-items-center py-3 my-4 border-top text-center">
            <img class="img-fluid event_logo"
                 src="{% static 'img/logo_scy.png' %}"
                 alt="Logo Evento">
            <p>
            </p>
            <img class="img-fluid event_logo"
                 src="{% static 'img/banner_logos.png' %}"
                 alt="Logo Evento">
        </footer>
    </div>
{% endblock content %}
{% block customcss %}
    <style>
    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #FFF18D;
      }
    .container-sm{
        padding: 15px;
        background-color: #FFFFFF99;
        /*border-radius: 1em;*/
    }

    .event_logo{
        height : 100%;
    }

    @media (min-width: 768px) {
        
        .event_logo{
            height : 5em;
        } 
    }

    #profile-img{
      padding : 1em;
    }

    #edit-icon{
      height:1.5em;
    }

    #editNameIcon{
        height: 1em;
    }
    {% comment %} #edit-icon-container{
      z-index:30;
      position:absolute;
      bottom:1em;
      right:auto;
      left:15%;
    } {% endcomment %}

    </style>
    <!---<link rel="stylesheet" href="{% static 'css/login.css' %}"> -->
{% endblock customcss %}

{% block customjs %}
<script id="js-data" type="application/json">{"api_url": "", "csrf" : "{{ csrf_token }}"}</script>
<script src="{% static 'js/axios.min.js' %}"></script>

<script src="{% static "js/tickets.js" %}" ></script>

{% endblock customjs %}
