{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container-sm text-center">
        <img class="img-fluid event_logo"
             src="{% static 'img/logo_scyfest.png' %}"
             alt="Logo Evento">
        <div class="card mb-3"
             style="margin-left:auto;
                    margin-right:auto;
                    margin-top:1em;
                    max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <div class="overlay has-bg-img rounded h-10rem my-2">
                        <img src="{% static 'img/perfil_defecto.png' %}"
                             id="profile-img"
                             class="bg-img img-fluid rounded-start "
                             alt="...">
                        {% comment %} <div class="overlay-content align-items-end text-white">
                            <a id="edit-icon-container" href="{% url 'test_view' %}">
                                <img id="edit-icon" src="{% static 'img/edit-solid.svg' %}">
                            </a>
                        </div> {% endcomment %}
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" id="nameLabel">
                            <span id="nameLabelText">{{ ticket.name }}</span>
                            <img id="editNameIcon" src="{% static 'img/edit-solid.svg' %}">
                        </h5>
                        <h5 class="card-title">
                            <input type="text" class="form-control" id="nameInput"/>
                        </h5>
                        <p class="card-text">
                            Actualmente tienes {{ticket.get_points}} puntos
                        </p>
                        <h5 class="text-info">
                            {{ticket.get_points}} puntos <i class="fa-solid fa-pen-to-square"></i>
                        </h5>
                        <p class="card-text">
                            <a href="{% url "ticket_history" ticket.qr_text %}"><small class="text-muted">Ver histórico</small></a>
                        </p>
                        <a href="#" class="btn btn-primary">Ayuda</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 text-center"
             style="margin-left:auto;
                    margin-right:auto;
                    margin-top:1em;
                    max-width: 540px;">
            <div class="card-header">Votaciones</div>
            {% if poll %}
                {% if ticket.has_voted %}
                    <div class="card-body">
                        <h5 class="card-title">Muchas gracias por votar</h5>
                    </div>
                {% else %}
                    <div class="card-body">
                        <h5 class="card-title">Vota a tu grupo favorito!</h5>
                        <form method="POST" action="{% url 'vote_post' poll.id %}">
                            {% for value, label in form.options.field.choices %}
                                <div class="form-check">
                                    {% comment %} <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="{{ value }}" name="options">
              {{label}}
                                    </label> {% endcomment %}
                                    <input type="radio" class="btn-check" name="options" id="vote-option{{ forloop.counter }}" value={{ value }} autocomplete="off">
                                    <label class="btn btn-outline-primary" for="vote-option{{ forloop.counter }}">
                                        {% comment %} {% if option_pictures.value %}
                        <img src="{{option_pictures.value.url}}" style="height: 4em;" class="img-fluid rounded-start" alt="...">
                            {% else %}
                                        <img src="{% static 'img/perfil_defecto.png' %}"
                                             style="height: 4em;"
                                             class="img-fluid rounded-start"
                                             alt="...">{% endif %} {% endcomment %}
                                        {{ label }}
                                    </label>
                                </div>
                            {% endfor %}
                            {% csrf_token %}
                            <button type="button"
                                    class="btn btn-primary"
                                    data-bs-toggle="modal"
                                    data-bs-target="#confirmModal">Vota!</button>
                            <div class="modal fade"
                                 id="confirmModal"
                                 tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="Confirmation Modal"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Confirmar cambios</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">Tu voto se guardará y no podrás volver a votar en esta encuesta. ¿Continuar?</div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                            <button type="submit" class="btn btn-primary">Enviar voto</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="card-body">
                        <h5 class="card-title">Actualmente no hay votaciones abiertas</h5>
                        <p class="card-text">
                            Las votaciones se abrirán cuando acaben todas las bandas de tocar.
                        </p>
                    </div>
                {% endif %}
            </div>
            <footer class=" align-items-center py-3 my-4 border-top text-center">
                <img class="img-fluid event_logo"
                     src="{% static 'img/logo_scy.png' %}"
                     alt="Logo Evento">
                <p>
                </p>
                <img class="img-fluid event_logo"
                     src="{% static 'img/banner_logos.png' %}"
                     alt="Logo Evento">
            </footer>
        </div>
    {% endblock content %}
    {% block customcss %}
        <style>
    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #FFF18D;
      }
    .container-sm{
        padding: 15px;
        background-color: #FFFFFF99;
        /*border-radius: 1em;*/
    }

    .event_logo{
        height : 100%;
    }

    @media (min-width: 768px) {
        
        .event_logo{
            height : 5em;
        } 
    }

    #profile-img{
      padding : 1em;
    }

    #edit-icon{
      height:1.5em;
    }

    #editNameIcon{
        height: 1em;
    }
    {% comment %} #edit-icon-container{
      z-index:30;
      position:absolute;
      bottom:1em;
      right:auto;
      left:15%;
    } {% endcomment %}

    .form-check {
        padding-left: inherit;
    }

        </style>
        <!---<link rel="stylesheet" href="{% static 'css/login.css' %}"> -->
    {% endblock customcss %}
    {% block customjs %}
        <script id="js-data" type="application/json">{"api_url": "/changename/{{ticket.qr_text}}/", "csrf" : "{{ csrf_token }}"}</script>
        <script src="{% static 'js/axios.min.js' %}"></script>
        <script src="{% static "js/tickets.js" %}"></script>
    {% endblock customjs %}
