{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="d-md-flex h-md-100 align-items-center bg-fest">
    <img src="{% static 'img/home/header.png' %}" class="fest-header">

    <div class="container-sm text-center">
        <div class="card mb-3"
             style="margin-left:auto;
                    margin-right:auto;
                    margin-top:1em;
                    max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <div class="overlay has-bg-img rounded h-10rem my-2">
                        <img src="{% static 'img/perfil_defecto.png' %}"
                             id="profile-img"
                             class="bg-img img-fluid rounded-start "
                             alt="...">
                        {% comment %} <div class="overlay-content align-items-end text-white">
                            <a id="edit-icon-container" href="{% url 'test_view' %}">
                                <img id="edit-icon" src="{% static 'img/edit-solid.svg' %}">
                            </a>
                        </div> {% endcomment %}
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" id="nameLabel">
                            <span id="nameLabelText">{{ ticket.name }}</span>
                        </h5>
                        <p class="card-text fest-points-pre mb-0 mt-4">
                            Aquí tienes detalles sobre tus
                        </p>
                        <h5 class="text-info fest-points mt-0">
                            {{ticket.get_points}} puntos <i class="fa-solid fa-pen-to-square"></i>
                        </h5>
                        
                        <a href="{% url "ticket_home" ticket.qr_text %}" class="btn btn-primary mt-3 mb-3">VOLVER</a>
                    </div>
                </div>
            </div>
        </div>
        {% for p in ticket.points_set.all %}
        <div class="card mb-3 text-left" style="margin-left:auto;
        margin-right:auto;
        margin-top:1em;
        max-width: 540px;">
            <div class="card-body">
                {% if p.value > 0 %}
                
              <h5 class="card-title" style="color : #2ea02a" >{{p.value}} puntos</h5>
                {% else %}
                <h5 class="card-title" style="color : #c9302c">{{p.value}} puntos</h5>     
              {% endif %}
              <h6 class="card-subtitle mb-2 text-muted">de {{p.activity}} el {{p.timestamp}}</h6>
              {% if p.razon %}
              <p class="card-text">{{p.razon}}</p>
              {% endif %}
            </div>
          </div>
            
        {% endfor %}
            <footer class=" align-items-center py-3 my-4 text-center">
                <a href="https://cmisabel.ugr.es/scy"><img src="{% static 'img/home/scy.png' %}" class="scy-prompt"></a>
                <img src="{% static 'img/home/footer.png' %}" class="fest-footer">
            </footer>
        </div>
    </div>
    {% endblock content %}
    {% block customcss %}
        <style>
        
    .fest-header {
        width: 100%;
        margin-bottom: 5vh;
        max-width: 700px;
    }
    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        background-color: #FFF18D;
      }
    .container-sm{
        /*border-radius: 1em;*/
    }

    .event_logo{
        height : 100%;
    }

    @media (min-width: 768px) {
        
        .event_logo{
            height : 5em;
        } 
    }

    #profile-img{
      padding : 1em;
    }

    #edit-icon{
      height:1.5em;
    }

    #editNameIcon{
        height: 1em;
    }
    {% comment %} #edit-icon-container{
      z-index:30;
      position:absolute;
      bottom:1em;
      right:auto;
      left:15%;
    } {% endcomment %}

    .form-check {
        padding-left: inherit;
    }

    .btn {
        background-color: #3693c7;
    }

    .fest-points {
        font-size: 32px;
    }

    .fest-footer {
        width: 50%;
    }

    .scy-prompt {
        width: 80%;
        margin-bottom: 5vh;
    }

    .edit-icon {
        margin-left: 8px;
    }
        </style>
        <!---<link rel="stylesheet" href="{% static 'css/login.css' %}"> -->
    {% endblock customcss %}
    {% block customjs %}
        <script id="js-data" type="application/json">{"api_url": "/changename/{{ticket.qr_text}}/", "csrf" : "{{ csrf_token }}"}</script>
        <script src="{% static 'js/axios.min.js' %}"></script>
        <script src="{% static "js/tickets.js" %}"></script>
    {% endblock customjs %}
